@{
    ViewData["Title"] = "About Page";
}


<div class="container-fluid">
    <div class="row">
        <div class="col-lg-5 col-md-6 col-sm-12">
            <div class="container">
                <br />
                <h1 class="display-2 font-weight-bold">About</h1>
                <p class="display-3 font-weight-lighter text-muted">Us</p>
                <p>Well established online shop for your local goods. Online shop is 
                know for its unique service of selling specifically 
                to your location where ever you may be </p>
                <a class="btn btn-warning" asp-controller="Home" asp-action="Index">Go Back</a>
            </div>
        </div>
        <div class="col-lg-7 col-md-6 col-sm-12">
            <img class="img-fluid" src="~/media/chat.png" />
        </div>
    </div>
</div>