<div class="container-fluid">
    <div class="row">
        <div class="col-lg-5 col-md-6 col-sm-12">
            <div class="container">
                <br />
                <h2 class="display-3 font-weight-bold text-warning">Access Denied</h2>
                <p class="display-4 font-weight-lighter text-muted">Unauthorized request.</p>
                <p>
                    It appears you may not have the right authorization for the requested resource.
                    Speak to your Administrator for more information.
                </p>
                <a class="btn btn-warning" asp-controller="Home" asp-action="Index">Go Home</a>
            </div>
        </div>
        <div class="col-lg-7 col-md-6 col-sm-12">
            <img class="img-fluid" src="~/media/chat.png" />
        </div>
    </div>
</div>