@model WebDevelopment_Assignment2.Models.Order
@inject WebDevelopment_Assignment2.App_Data.IShoppingRepo shoppingepo
@inject WebDevelopment_Assignment2.App_Data.IUserRepo UserRepo



<div class="row">
    <div class="col-lg-9">
        <h1>Order Management</h1>
    </div>
    <div class="col-lg-3">
    </div>
</div>
<h4>Previous Orders</h4>
<hr />
@{
    System.Security.Claims.ClaimsIdentity identityUser = UserRepo.GetUserClaimsIdentity();
    string res = identityUser.Name;
    if (shoppingepo.getAllOrders(res) != null)
    {
        <div class="row">
            <div class="col-lg-12">
                @{
                    foreach (var item in shoppingepo.getAllOrders(res))
                    {
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-6">
                                        <h5>Date</h5>
                                    </div>
                                    <div class="col-6">
                                        @item.OrderTimeStamp
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <h5>Order Number</h5>
                                    </div>
                                    <div class="col-6">
                                        @item.OrderID
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <h5>Total Amount</h5>
                                    </div>
                                    <div class="col-6">
                                        R @item.TotalPrice
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    }
    else
    {
        <div class="row">
            <div class="col-12">
                <h1 class="display-1">You still need to order first.</h1>
            </div>
        </div>
    }
}

